<div class="container mt-4">
  <h1> All Bookings </h1>
    <% @bookings.each do |booking| %>
     <div class="container mt-4 pl-0 pr-0">
     <h4> Your <%= booking.activity.category.name %> Trip</h4>
       <div class="booking-details-card">
       <div class="card-icon">
       <% if booking.activity.category.name == "Culture & History" %>
       <i class="fas fa-utensils"></i>
       <% else %>
       <i class="fab fa-pagelines"></i>
       <% end %>
       </div>

          <div class="card-product-infos mt-2 ml-2">

         <p><span>Booked on: </span> <%= booking.activity_date %></p>
         <p><span>Number of participant: </span> <%= (booking.number_of_participants) %></p>
         <p><span>Total price: </span>Rs <%= ((booking.activity.price).to_i) * booking.number_of_participants.to_i %> </p>
       </div>
       </div>
    </div>
   <%end%>

   <div class="mt-4">
      <%= link_to "Back", root_path, class: 'btn btn-primary btn-lg btn-custom' %>
    </div>
</div>

<i class="fab fa-pagelines"></i>
