<div class="container mt-4">
  <h1> Your Bookings </h1>
    <% @bookings.each do |booking| %>
      <div class="container mt-5 pl-0 pr-0">
        <h4> Your <%= booking.activity.category.name %> Trip</h4>
        <div class="booking-details-card">
          <div class="card-icon">
            <% booking_category = booking.activity.category.name%>
            <% case booking_category%>
            <% when "Ecology" %>
              <i class="fas fa-seedling"></i>
            <% when "Sea & Water" %>
              <i class="fas fa-swimmer"></i>
            <% when "Culture & History" %>
              <i class="fas fa-monument"></i>
            <% when "Arts & Crafts" %>
              <i class="fas fa-paint-brush"></i>
            <% when "Nature & Adventure" %>
              <i class="fas fa-tree"></i>
            <% when "Adrenaline" %>
              <i class="fas fa-heartbeat"></i>
            <% when "Food & Drinks" %>
              <i class="fas fa-utensils"></i>
            <% else %>
              <i class="fas fa-hands-helping"></i>
            <% end %>
          </div>

          <div class="booking-details-card-infos">
            <p><span>Booked on: </span> <%= booking.activity_date %></p>
            <p><span>Number of participant: </span> <%= (booking.number_of_participants) %></p>
            <p><span>Total price: </span>Rs <%= ((booking.activity.price).to_i) * booking.number_of_participants.to_i %> </p>
          </div>
        </div>
      </div>
   <%end%>

   <div class=" container mt-5">
      <%= link_to "Back", root_path, class: 'btn btn-primary btn-lg btn-custom' %>
  </div>
</div>
