<div class="container mt-4">
  <h1> All Bookings </h1>

  <% @bookings.each do |booking| %>
    <div class="container mt-4 pl-0 pr-0">
      <div class="card-all-bookings">
        <h2><%= booking.category.name%></h2>
        <p><span>Booked on: </span> <%= booking.start_date %></p>
        <p><span>Number of participant: </span><%= (booking.participant.count).to_i %><p>
        <p><span>Chosen interest: </span><%= @category.name %><p>
        <p><span>Total price: </span>Rs<%= (activity.sum(:price).to_i)*booking.participant.count %> <p>
      </div>
    </div>
  <%end%>

  <div class="mt-4">
    <%= link_to "Back", root_path, class: 'btn btn-primary btn-lg btn-custom' %>
  </div>
</div>
