<div class="container mt-4">
  <h1> All Bookings </h1>

  <% @bookings.each do |booking| %>
    <div class="container mt-4 pl-0 pr-0">
      <div class="card-all-bookings">
        <h2> Your booking details</h2>
        <p><span>Booked on: </span> <%= booking.activity.start_date %></p>
        <% # <p><span>Number of participant: </span> <%= (booking.activity.participant.count).to_i %><p> 
        <p><span>Chosen interest: </span><%=  booking.activity.category.name %><p>
        <% #<p><span>Total price: </span>Rs<%= (activity.sum(:price).to_i)*booking.participant.count %> <p>
      </div>
    </div>
  <%end%>

  <div class="mt-4">
    <%= link_to "Back", root_path, class: 'btn btn-primary btn-lg btn-custom' %>
  </div>
</div>
