<div class="container mt-4">

        <div class="card book-head mb-3">

          <%= link_to bookings_path, class: 'text-decoration-none' do %>
            <span class="back-btn"><i class="fas fa-chevron-left"></i></span>
          <% end %>

          <div class="head-container">
            <h4 class="text-center "> Your <%= @booking.activity.category.name %> Trip</h4>
          </div>
          
        </div>

        <div class="booking-details-card">
          <div class="card-icon">
            <% booking_category = @booking.activity.category.name%>
            <% case booking_category%>
            <% when "Ecology" %>
              <i class="fas fa-seedling"></i>
            <% when "Sea & Water" %>
              <i class="fas fa-swimmer"></i>
            <% when "Culture & History" %>
              <i class="fas fa-monument"></i>
            <% when "Arts & Crafts" %>
              <i class="fas fa-palette"></i>
            <% when "Nature & Adventure" %>
              <i class="fas fa-hiking"></i>
            <% when "Adrenaline" %>
              <i class="fas fa-running"></i>
            <% when "Food & Drinks" %>
              <i class="fas fa-utensils"></i>
            <% else %>
              <i class="fas fa-users"></i>
            <% end %>
          </div>

          <div class="booking-details-card-infos" id="activity" data-activity="<%= @booking.activity_date %>">
            <p><span>Booked for: </span> <%= @booking.activity_date %></p>
            <p><span>Number of participants: </span> <%= (@booking.number_of_participants) %></p>
            <p><span>Total price: </span>Rs <%= ((@booking.activity.price).to_i) * @booking.number_of_participants.to_i %> </p>
          </div>
        </div>


        <% #  Mapbox %>

    <div id="map"
      style="width: 100%; height: 100vh;"

      <% if Date.today >= (@booking.activity_date - 1) %>
       data-markers="<%= @markers.to_json %>"
      <% end %>

      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
