<div class="container">
   <div class="nav-container">
        <div class="navigation">
                <ul>
                    <li class="list active" data-color="#ededed">
                      <%= link_to root_path, class: "" do %>
                        <span class="icon"><i class="fas fa-home"></i></span>
                      <% end %>
                    </li>

                <li class="list" data-color="#d3d3d3">
                    <%= link_to bookings_path, class: "" do %>
                      <span class="icon"><i class="fas fa-list-ul"></i></span>
                    <% end %>
                </li>

                <li class="list" data-color="#f1f1f1">
                    <%= link_to root_path, class: "" do %>
                      <span class="icon"><%= image_tag "easy.png" %></span>
                    <% end %>
                </li>

                <li class="list" data-color="#0fbcf9">
                    <%= link_to about_path, class: "" do %>
                      <span class="icon"><i class="far fa-question-circle"></i></span>
                    <% end %>
                </li>

                <% if user_signed_in? %>
                <li class="list nav-item dropdown user-li">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/chrisgeek07", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <div class="dropdown-menu dropdown-menu-right user-drop" aria-labelledby="navbarDropdown">
                        <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
                        <%= link_to "", "#", class: "dropdown-item" %>
                        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                    </li>
                <% else %>
                    <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                    </li>
                <% end %>

                <div class="indicator"></div>
                </ul>
        </div>
    </div>

</div>