<%= render 'banner' %>
<div class='container'>
  <h2 class="mt-4">All Categories</h2>

  <div class='row d-flex justify-content-between align-items-center cat-wrapper'>
    <% @categories.each do |category| %>
      <div class="col-12 cat-item">
        <%= link_to category_path(category), class: 'text-decoration-none' do %>
          <div class="card-category mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cutewallpaper.org/21/adventure-wallpapers/Best-51-Adventure-Wallpaper-on-HipWallpaper-Dangerous-.jpg)">
            <%= category.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<div class="container mt-3">
      <div class="row">

          <div class="col-sm-12">
            <h2>Reviews</h2>
            <% @reviews.each do |review| %>
                <div class="notification">
                    <img src='https://kitt.lewagon.com/placeholder/users/chrisgeek07' class="avatar-large"/>
                    <div class="notification-content">
                        <p>
                        <% if review.rating %>
                            <small>Rating: <% review.rating.times do %>
                                <i class="fas fa-star"></i>
                            <% end %>
                            </small>
                        <% end %>
                        </p>
                        <p><%= review.comment %></p>
                    </div>

                    <div class="notification-actions">
                        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
                    </div>
                    <hr>
                </div>
            <% end %>
          </div>

          <div class="col-sm-12">
            <h2>Add a review</h2>
            <%= render "form-reviews" %>
          </div>

      </div>
    </div>
