<div class='container py-3 marg-bot'>
 <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@category, @booking] do |f| %>
        <h3 class="mb-2">Book an activity from this Category</h3>
        <div class="card py-3 bg-color grey book-card">
        <div class="card-body">
          <%= f.input :activity_date, as: :date, html5: true %>
          <%= f.input :number_of_participants %>
          <%= f.submit '', id: "book-alert", class: "hidden d-none" %>
          <%= link_to "Book", bookings_path,  id: "booking-link", class: "button mr-1" %>
          <%= link_to "Cancel", root_path, class: 'button ' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
